<section class="group" *ngFor="let group of data">
    <h1>{{ group.title }}</h1>
    <span class="desc">{{ group.description }}</span>
    <ul class="videos">
        <li *ngFor="let video of group.videos" (click)="openVideo($event, video)">
            <div class="thumb">
                <img src="{{ video.thumbnail_url }}" alt="{{ video.title }}">
                <div class="icon">
                    <i class="fontello-icon" [ngClass]="{'icon-lock': video.video_status==0, 'icon-play': video.video_status==1, 'icon-ok': video.video_status==2}"></i>
                </div>
            </div>
            <span class="video__title">{{ video.title }}</span>
            <span class="video__desc">{{ video.description }}</span>
        </li>
    </ul>
</section>