:host{
    padding: 40px 0 0;
    width: 100%;
}
.group{
    padding: 0 3.5% 0;
    padding-bottom: 30px;
    
    &:not(:first-child){
        margin-top: 65px;
    }
    &:not(:last-child){ 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}
h1{
    text-align: center;
    font-size: (36em/16);
    color: #2f302f;
    font-weight: normal;
    margin-bottom: 13px;
}
.desc{
    text-align: center;
    font-size: (20em/16);
    display: block;
}
ul{
    padding: 0px;
    margin-right: -1%;
    margin-top: 0px;
}
li{
    display: inline-block;
    vertical-align: top;
    list-style: none;
    width: 32%;
    margin-top: 40px;
    margin-right: 1%;
}
.thumb{
    position: relative;

    img{
        width: 100%;
        object-fit: cover;
    }
    
    &:hover{
        cursor: pointer;

        .icon{
            background: white;
            color: #2f302f;
        }
    }
}
.icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    font-size: 30px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
}
.icon-ok{
    font-size: 40px;
}
.icon-play{
    transform: translateX(4px);
}
.video__title{
    font-size: (14em/16);
    display: block;
    font-weight: bold;
    margin-top: 13px;
}
.video__desc{
    margin-top: 10px;
    display: block;
    font-size: (14em/16);
}
@media only screen and (max-width: 768px){
    li{
        width: 48%;
        margin-right: 2%;
    }
    ul{
        margin-right: -2%;
    }
    h1{
        font-size: (28em/16);
        margin-top: 23px;
    }
    .thumb{
        img{
            height: 197px;
        }
    }
    .video__title{
        margin-top: 9px;
        padding-left: 10px;
    }
    .video__desc{
        padding-left: 10px;
    }
    .sub-text{
        font-size: 20px;
    }
}
@media only screen and (max-width: 425px){
    li{
        width: 100%;
        margin-right: 0px;
        margin-top: 22px;
    }
    ul{
        margin-right: 0px;
    }
    :host{
        padding-top: 10px;
    }
    .desc{
        font-size: 14px;
    }
    .thumb img{
        height: 166px;
    }
    h1{
        font-size: 22px;
    }
    .video__title{
        margin-top: 8px;
        font-size: 12px;
    }
    .video__desc{
        margin-top: 6px;
        font-size: 12px;
    }
    .group{
    
        &:not(:first-child){
            margin-top: 35px;
        }
        &:last-child{
            padding-bottom: 0px;
        }
    }
}