login-form{
    position: relative;
}
:host{
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    flex: 1;
    display: flex;
    padding-bottom: 40px;
}
@media only screen and (max-width: 768px){
    :host{
        padding-bottom: 50px;
    }
}
@media only screen and (max-width: 425px){
    .wrap{
        padding-bottom: 20px;
    }
}
.background{
    bottom: 0px;
    width: 100%;
    display: block;
    margin: 0px;
    animation: backgroundShow 3s;
    animation-fill-mode: forwards;
    object-fit: cover;
    position: fixed;
}