$text: #2f302f;

:host{
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
h1{
    text-align: center;
    font-size: (36em/16);
    font-weight: normal;
    margin-top: 64px;
    margin-bottom: 14px;
    color: $text;
}
.sub-text{
    text-align: center;
    font-size: (20em/16);
    color: $text;
    margin-bottom: 20px;
}
@media only screen and (max-width: 768px){
    h1{
        font-size: (28em/16);
    }
    .sub-text{
        font-size: (18em/16);
    }
}

form{
    margin: auto;
    background: #ffffff;
    padding: 80px 100px;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: showForm 1s 1s;
    animation-fill-mode: forwards;
}

input{
    display: block;
    background-color: #fff9bd;
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    padding: 22px;
    font-size: (14em/16);
    text-align: center;
    width: 384px;
    max-width: 100%;
}
button{
    margin: 15px auto 0;
    display: block;
    width: 384px;
    max-width: 100%;
    padding: 12px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #cd1132;
    background-image: linear-gradient(180deg, #ec1a3a 0%, #cd1132 100%);
    outline: none;
    user-select: none;

    &[disabled]{
        border: 1px solid #d9d9d9;
        background: #dddddd;
    }
    
    &:not([disabled]):hover{
        background: linear-gradient(180deg, darken(#ec1a3a, 5%) 0%, darken(#cd1132, 5%) 100%);
    }
}
.loader{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);

    img{
        margin: auto;
        height: 70px;
    }
}
@keyframes showForm{
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 768px){
    form{   
        margin-top: 50px;
    }
    input, button{
        width: 350px;
    }
    h1{
        font-size: 28px;
        margin-top: 60px;
    }
    .sub-text{
        font-size: 18px;
    }
}
@media only screen and (max-width: 600px){
    form{
        padding: 30px;
        max-width: 90%;
        margin-top: 30px;
    }
    h1{
        margin-top: 40px;
        font-size: 22px;
    }
    .sub-text{
        font-size: 16px;
    }
}
@media only screen and (max-width: 425px){
    h1{
         font-size: 22px;
         margin-top: 30px;
    }
    .sub-text{
        font-size: 14px;
    }
    form{
        margin-top: 0px;
    }
}