<h1>Система удаленного обучения для менеджеров</h1>
<span ng-if="subtext" class="sub-text">Обучение всем продуктам и основам работы в «Product Manager»</span>

<form (ngSubmit)='submit($event)' #form="ngForm">
  <input type="email" pattern=".+@.+" name="email" [(ngModel)]="mail" required #email [placeholder]="placeholder" (focus)="focus($event)" (blur)="blur($event)">
  <button [disabled]='!form.form.valid'>Далее</button>
  <div class="loader" *ngIf="load">
    <img src="assets/pictures/loader.gif" alt="Отправка данных">
  </div>
</form>
