<div class="container">
  <h1>{{ data.title }}</h1>
  <span class="desc">{{ data.description }}</span>
  <iframe *ngIf="data.url != undefined" [src]="data.embed_url | safe" (load)="frameLoad($event)"  allowfullscreen></iframe>
  <div class="text-wrap">
    <div class="text">
      {{ text }}
    </div>
    <button (click)="toogleText()" *ngIf="buttonIsVisible" class="button button_grey">{{ buttonCaption }}</button>
  </div>
</div>
 <section class="wrap">
  <test *ngIf='test != undefined' [routed]='routed'></test>
</section>
