:host{
    color: #2f302f;
}
h1{
    text-align: center;
    font-size: (36em/16);
    font-weight: normal;
    margin-top: 60px;
    margin-bottom: 0px;
}
.desc{
    font-size: (20em/16);
    text-align: center;
    display: block;
    margin-top: 17px;
}
iframe{
    max-width: 100%;
    max-height: 1000px;
    margin: 42px auto 0;
    border: 0px;
    display: block;
    width: (980vw/1280 * 100);
    height: (550vw/1280 * 100);
}
.button{
    margin-top: 13px;
}

.text-wrap{
    margin: 13px auto 0;
    padding: 0px;
}
.wrap{
    display: block;
    border-top: 1px solid #e1e1e1;
    margin: 30px auto 0;
}
@media only screen and (max-width: 768px){
    h1{
        font-size: (28em/16);
    }
    .container{
        width: 93%;
    }
    .desc{
        font-size: (18em/16);
        margin-top: 15px;
    }
    iframe{
        width: 93vw;
        height: 52vw; 
    }
    .text-wrap{
        margin-top: 8px;
    }
    .button{
        margin-top: 21px;
    }
    .wrap{
        margin-top: 40px;
    }
}
@media only screen and (max-width: 500px){

    h1{
        font-size: (22em/16);
        margin-top: 30px;
    }
    .desc{
        margin-top: 15px;
        font-size: (14em/16);
    }
    iframe{
        margin-top: 23px;
    }
    .text-wrap{
        margin-top: 10px;
        font-size: (12em/16);
        line-height: (16em/12);
    }
    .button{
        margin-top: 16px;
    }
    .wrap{
        margin-top: 20px;
    }
}