 <div class="cover" [ngClass]="{'hidden': !visibility}">
  <div class="body">
    <div class="close" (click)="close()">
        <svg class="icon">
          <use xlink:href="/assets/pictures/close.svg#close"></use>
        </svg>
    </div>
    <span class="content">{{ text }}</span>
    <img  *ngIf="type=='error'" src="/assets/pictures/sad.svg" alt="Error">        
  </div>
 </div>