.cover{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    z-index: 100;
    animation: fadeIn 1s;
}
.cover.hidden{
    display: none;
}
.body{
    animation: slideTop 1s;
    background: white;
    border-radius: 3px;
    margin: auto;
    width: 600px;
    max-width: 95%;
    text-align: center;
    font-size: (20em/16);
    position: relative;
    padding: 50px 100px;
}
.close{
    width: 17px;
    height: 17px;
    position: absolute;
    top: 10px;
    cursor: pointer;
    right: 10px;
    opacity: .7;
    
    .icon{
        width: 17px;
        height: 17px;
    }
    &:hover{
        opacity: 1;
    }
}
img{
    display: block;
    margin: auto;
    margin-top: 40px;
}
@media only screen and (max-width: 600px){
    .body{
        padding: 50px 7%;
    }
    img{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 425px){
    .body{
        font-size: 1em;
    }
}
@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideTop{
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}