:host{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.link-to-home{
    position: absolute;
    width: 168px;
    height: 60px;
    top: 10px;
    left: 3%;
    z-index: 100;
}
@media only screen and (max-width: 500px){
.link-to-home{
    position: absolute;
    width: 100px;
    height: 40px;
    top: 10px;
    left: 3%;
    z-index: 100;
}
}