 <div *ngIf="resultStatus == -1">
    <h1> Пройдите тест </h1>
    <span class="desc">чтобы открыть доступ к следующему видео</span>
    <button class="start-button button_red button" (click)="startTest()" [@button]='buttonState' > Начать тест </button>
    <span class="test__info" [@button]='buttonState'>В тесте {{ test.questions.length }} вопрос{{getWordEnd(test.questions.length)}}. <br> Максимальное количество ошибок: {{ test.maxErrors }}</span>
  </div>

  <div class="test__body" [hidden]="!testIsVisible" [@test]="testState">

    <div class="container">
      <svg-progress-bar [stepCount]="test.questions.length" [newStep]="svgLogger" [reset]="resetSvg"></svg-progress-bar>
      <ul class="questions">
      <li class="question" *ngFor="let question of questions" [@question]="questionState" >
          <span class="question__text"><b>Вопрос №{{ test.questions.indexOf(question)+1 }}.</b> {{ question.text }}</span>
          <ul class="answers">
            <li class="answer" *ngFor="let answer of question.options" [ngClass]="{ answer_active: answer == answers[test.questions.indexOf(question)] }" (click)="setAnswer($event, answer, question)">
              {{ answer.text }}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="message" [hidden]="resultStatus != 1">
    <div class="container">
      <h2 class="message__title">Тест пройден</h2>
      <span class="message__text">Поздраляем! <br> Теперь вам доступно следующее видео.</span>
      <button class="button button_red" (click)="goToNext()" *ngIf="nextId != -1" > Следующее видео </button>
      <a routerLink="/videos" > Перейти ко всем видеозаписям </a>
      <img class="message__img" src="/assets/pictures/smile.svg" alt="Smile">
    </div>
  </div>
  <div class="message" [hidden]="resultStatus != 0">
    <div class="container">
      <h2 class="message__title">Тест не пройден</h2>
      <span class="message__text">Ошибок: {{ errors }}. Допустимо: {{ test.maxErrors }}.</span>
      <button class="button button_red" (click)="reset()" > Повторить тест </button>
      <a routerLink="/videos" > Вернуться ко всем видеозаписям. </a>
      <img class="message__img" src="/assets/pictures/sad.svg" alt="Fail"> 
    </div>
  </div>
