:host{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    margin: 0px 0 0;
    min-height: 525px;
    background-image: url('../../assets/pictures/test_bg.png');
    background-position: bottom;
    background-size: cover;
    position: relative;
}
:host:after{
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70%;
    background: linear-gradient(180deg, #fafafa 40%, transparent);
}
.test__info{
    margin: 30px auto 0;
    text-align: center;
    padding: 0 10px;
    display: block;
    font-size: (15em / 16);

}
.test__wrap{   
    margin: auto;
    width: (980vw/1280 * 100);
}
:host>div{
    position: relative;
    z-index: 1;
}
.test__bg-img{
    position: absolute;
    bottom: 0px; 
    left: 0px;
    width: 100%;
}
.test__body{
    animation: testFadeIn 300ms linear;
    padding-top: 30px;
    flex: 1;
    background: #fafafa;
    position: relative;
}
h1{
    text-align: center;
    font-size: (36em / 16);
    font-weight: 400;
}
.desc{
    display: block;
    text-align: center;
    margin: auto;
    padding: 0 10px;
    font-size: (20em / 16);
}
.questions{
    padding: 0px; 
    margin: 35px 0 0;
    position: relative;
}
.question__text{
    line-height: 1.3em;
}
.question{
    list-style: none;
    position: relative;

    &_active{ 
        display: block;
    }
}
.answers{
    margin: 23px 0px 0;
    padding: 0px;
}
.answer{
    list-style: none;
    margin: 0 0 20px 0;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    font-size: (14em/16);
    line-height: (19em/14em);

    &:before{
        box-sizing: border-box;
        margin-right: 10px;
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        top: -2px;
        width: 22px;
        height: 22px;
        border: 2px solid #d6d6d6;
        background: white;
        border-radius: 50%;
    }
    &:after{
        box-sizing: border-box;
        position: absolute;
        content: '';
        left: 5px;
        top: 3px;
        width: 12px;
        opacity: 0;
        transition: .2s;
        height: 12px;
        background: #2f302f;
        border-radius: 50%;
    }
    &:hover{
        &:before{
            border-color: #2f302f;
        }
    }
    &_active{
        &:after{ 
            opacity: 1;
        }
    }
}
[hidden] {
  display: none;
}
.message{
    flex: 1;
    background: #fafafa;
    text-align: center;

    *{   
        animation: fadeIn .5s;
    }
    a{
        color: #ec1a3a;
        display: inline-block;
        font-size: 15px;
        margin-top: 40px;
    }
    &__title{
        font-size: (36em/16);
        font-weight: 400;
        margin-bottom: 15px;
    }
    &__text{
        font-size: (20em/16);
    }
    &__img{
        display: block;
        margin: 40px auto 0;
    }
    .button{
        width: 390px;
        max-width: 100%;
        padding: 12px;
        margin-top: 40px;
    }
}
.start-button{
    position: absolute;
    left: 0;
    right: 0;
}
.test__info{
    position: absolute;
    top: 180px;
    left: 0;
    right: 0px;
}

@media only screen and (max-width: 768px){
    .message__title{
        margin-top: 54px;
        font-size: (28em/16);
    }
    .message__text{
        font-size: (18em/16);
        line-height: 1.3em;
        
    }
    button{
        width: 350px;
        margin-top: 45px;
    }
}

@media only screen and (max-width: 500px){
    :host{
        min-height: 335px;
    }
    h1{
        font-size: (22em/16);
    }
    .desc{
        font-size: (14em/16);
    }
    .questions{
        margin-top: 20px;
    }
    .button{
        width: 250px;
        font-weight: normal;
        padding: 12px;
        top: 65px;
        margin-top: 30px;
        font-size: (14em/16)
    }
    .test__info{
        margin-top: 15px;
        top: 140px;
    }
    .message__title{
        font-size: (22em/16);
        margin-top: 25px;
    }
    .message__text{
        font-size: (14em/16);
    }
    .message{
        
        .button{
            width: 245px;
            margin-top: 25px;
        }
        a{
            margin-top: 20px;
            font-size: (12em/16);
        }
        img{
            margin-top: 20px;
        }
    }
    .answer{
        padding-left: 20px;
        &:before{
            width: 12px;
            height: 12px;
            left: 2px;
            top: 2px;
        }
        &:after{
            width: 6px;
            height: 6px;
            top: 5px;
            left: 5px;
        }
    }
}
@media only screen and (min-width: 769px){
    br{
        display: none;
    }
}
@keyframes testFadeIn{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeIn{
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}