<svg #svgElement >
  <path fill="none" stroke="#d2d2d2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="50" stroke-width="2" d="M1 12h5000"/>
  <path fill="none" stroke="#2b2d2c" [attr.stroke-dasharray]="dashArr" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="50" stroke-width="2" d="M1 12h5000"/>
  <circle *ngFor="let circle of circles" class="circ_big" fill="#fff" stroke="#d2d2d2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="50" stroke-width="2"  [attr.r]='circle.r' cy="12" [attr.cx]="circle.cx"/>
  <circle *ngFor="let circle of circles" class="circ_big" fill="none" [attr.stroke-dasharray]="circle.dashArr" [attr.transform]="circle.transform" [attr.stroke-opacity]="circle.borderOpacity"  stroke="#2b2d2c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="50" stroke-width="2" [attr.r]='circle.r' cy="12" [attr.cx]="circle.cx"/>
  <circle *ngFor="let circle of circles" class="circ_small" [attr.opacity]='circle.opacity' [attr.fill]="circle.fill" [attr.cx]="circle.smallCX" cy="12" [attr.r]='circle.smallR'/>
</svg>