/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    font-family: Open Sans;
    font-size: 16px;
}
.button{
    display: block;
    margin-top: 25px;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    
    &_grey{
        border: 2px solid #929392;
        
        &:hover{
            background: #929392;
            color: white;
            border: 2px solid #929392;
        }
    }
    &_red{
        background-image: linear-gradient(180deg, #ec1a3a 0%, #cd1132 100%);
        color: white;
        border: none;
        width: 300px;
        margin: auto;
        margin-top: 30px;
    
        &:hover{
            background: darken(#ec1a3a, 5%);
        }
    }
}
.wrap{
    background-color: #fafafa;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3.5%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 3;
    background-color: white;

    &__link{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border: 2px solid #ec1a3a;
        border-radius: 3px;
        padding: 11px 17px;
        font-size: (14em/16);
        text-decoration: none;
        color: black;

        #arrLeft {
            stroke: black;
        }
        &:hover{
            background: #ec1a3a;
            color: white;
                        
            .icon{
                stroke: white;
                stroke-width: 2px;
            }
        }

        .icon{
            stroke: #444;
            margin-left: 16px;
            display: inline-block;
            width: 23px;

            stroke-width: 2px;
            height: 17px;
        }
    }
}
.container{
    width: 76.5%;
    margin: 0px auto;
    max-width: 1800px;
}

@media only screen and (max-width: 425px){
    .container{
        width: 90%;
    }
}
.footer{
    position: relative;
    display: flex;
    padding: 15px 3.5%;
    background: #eeeeee;
    justify-content: space-between;
    align-items: center;
    font-size: (12em/16);
    line-height: (17em/12);

    &__text{
        color: #8e8f8e;
    }
    &__link{
        color: #8e8f8e;
    }
}

@keyframes backgroundShow{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        filter: blur(0px);
    }
    100% {
        filter: blur(5px);
    }
}
@media only screen and (min-width: 1440px){
    body{
        font-size: 18px;
    }
}
@media only screen and (max-width: 768px){
    // .wrap{
    //     padding-bottom: 50px;
    // }
}
@media only screen and (max-width: 425px){
    .header__logo{
        height: 32px;
    }
    .hide-on-mobile{
        display: none;
    }
    .header__link{
        padding: 8px 11px;
        font-size: 12px;

        .icon{
            margin-left: 8px;
            height: 16px;
            font-size: 12px;
            transform: scale(.8);
        }
    }
    // .wrap{
    //     padding-bottom: 10px;
    // }
}

@font-face {
    font-family: 'fontello';
    src: url('assets/fonts/fontello.eot?65481435');
    src: url('assets/fonts/fontello.eot?65481435#iefix') format('embedded-opentype'),
        url('assets/fonts/fontello.woff2?65481435') format('woff2'),
        url('assets/fonts/fontello.woff?65481435') format('woff'),
        url('assets/fonts/fontello.ttf?65481435') format('truetype'),
        url('assets/fonts/fontello.svg?65481435#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
.fontello-icon:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-ok:before { 
    content: '\e800';
}
.icon-play:before { 
    content: '\e801'; 
}
.icon-lock:before { 
    content: '\e802'; 
}